@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body { 
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff; /* Light blue text */
    background-color: #000000; /* Middle blue background */
}

a {
    color: #ffffff; /* Orange for links */
    text-decoration: none; /* Removes underline for cleaner look */
}

h1 { 
    font-family:  "Comfortaa", sans-serif;
    font-weight: 550;
    position: relative;
    text-align: center;
}
h1 small {
    font-size: 14px;
    float: right;
    padding-top: 15px;
    line-height: 1.8em; 
}
h2 {
   font-size: 36px;
   padding-top: 50px;
   padding-bottom: 25px;
   text-align: center;
   font-weight: bold;
}

h3 {
    font-weight: bold;
}
h3 small {
    font-weight: 400; 
}
h4 {
    margin-top: 0;
    padding-top: 10px;
    font-family:  "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-weight: bold;
}
h4 small {
    padding-top: 10px;
    font-family:  "Comfortaa", sans-serif;
    font-weight: 300; 
    padding-left: 10px;

}
h5 {
    font-size: 24px;

    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}

span.links {
    float: right;
}
span.sep {
    color: #fefefe;
    padding: 0 3px; 
}
.container {
    max-width: 970px; 
}

.blog-container {
   font-family: "monosans";
   width: 750px; 
   margin: 0 auto;
   font-size: 18px;
   text-align: justify;
   font-weight: 75;
   display: block;
}

img {
    display: block;
    margin: auto;
}

ul { 
    padding-left: 25px; 
}
b { 
    font-weight: 600; 
}
.footer { 
    text-align: center; 
    margin: 5px 0 100px 0; 
}
.footer a { 
    color: #999; 
    font-family:  "Comfortaa", sans-serif;
    font-weight: 300; 
    font-size: 12px; 
}
@media (min-width: 768px) { 
    .container { 
        margin-top: 50px; 
    } 
}

p {
}


img.headshot {
    width:120px;
    max-width:100%;
    float:left;
    border-radius: 15px;
    /* border-radius: 50%; Makes the image circular */
    /* width: 120px;       /* Adjust width for uniform scaling */
     /*height: 120px;       /*Ensure height matches width */
    /* object-fit: cover;  Ensures the image fits perfectly inside the circle */
}

a.pub_img {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 80px; 
    max-width: 80px; 
    min-height: 80px; 
    max-height: 80px; 
    margin-right: 20px;
}

img.pub_img {
    margin-top: auto;
    margin-bottom: auto;
}



img.seal {
    width:90px;max-width:100%;float:left
}


img.blogimg {
    width: 100%;
}

